---
//const posts = await Astro.glob('../pages/post/*.md'); // returns an array of posts that live at ./src/pages/post/*.md
const posts = await Astro.glob('../pages/post/*.md'); // returns an array of posts that live at ./src/pages/post/*.md

//import json from '../../public/list.json';

---
{posts.slice(0, 3).map((post) => (
    <article>
    <h4>{post.frontmatter.title}</h4>
    <p>{post.frontmatter.description}</p>
    <a href={post.url}>Read more</a>
    </article>
))}         

<div class="small-12 medium-10 offset-medium-1 space-content">
</div>

<!-- 
    <div>
    {json.slice(0, 3).map((data) => (
        <article>   
        <h1>{data.name}</h1>
        <p>{data.no}</p>
        </article>
    ))}
    </div>
-->
